<ul class="media-list">
    <div class="media">
        <h4><a [routerLink]="['./detail']" [queryParams]="{id:1}">李克强西安考察临时拐进路边一家肉夹馍小店(图)</a></h4>
        <div class="media-left">
            <a href="#"><img src="https://via.placeholder.com/100x80/FF5733/ffffff"/></a>
        </div>
        <div class="media-body">
            原标题：李克强西安考察临时拐进路边一家肉夹馍小店 李克强总理10月14日在西安考察时，临时拐进路边一家肉夹馍小店。临近中午，不少人正在这里就餐。<a [routerLink]="['./detail']"
                                                                                       [queryParams]="{id:123}">[详细]</a>
        </div>
    </div>
    <div class="media">
        <h4><a [routerLink]="['./detail']" [queryParams]="{id:2}">李克强西安考察临时拐进路边一家肉夹馍小店(图)</a></h4>
        <div class="media-left">
            <a href="#"><img src="https://via.placeholder.com/100x80/FF5733/ffffff"/></a>
        </div>
        <div class="media-body">
            原标题：李克强西安考察临时拐进路边一家肉夹馍小店 李克强总理10月14日在西安考察时，临时拐进路边一家肉夹馍小店。临近中午，不少人正在这里就餐。<a [routerLink]="['./detail']"
                                                                                       [queryParams]="{id:123}">[详细]</a>
        </div>
    </div>
    <div class="media">
        <h4><a [routerLink]="['./detail']" [queryParams]="{id:3}">李克强西安考察临时拐进路边一家肉夹馍小店(图)</a></h4>
        <div class="media-left">
            <a href="#"><img src="https://via.placeholder.com/100x80/FF5733/ffffff"/></a>
        </div>
        <div class="media-body">
            原标题：李克强西安考察临时拐进路边一家肉夹馍小店 李克强总理10月14日在西安考察时，临时拐进路边一家肉夹馍小店。临近中午，不少人正在这里就餐。<a [routerLink]="['./detail']"
                                                                                       [queryParams]="{id:123}">[详细]</a>
        </div>
    </div>
</ul>

<div class="custom-list">
    <div class="custom-list-item lh-35">
        <div class="custom-list-col-20"><a [routerLink]="['./detail']" [queryParams]="{id:4}">美游泳奥运冠军因禁药无缘东京</a></div>
        <div class="custom-list-col-4"><span class="grayDark">2019年10月14日 11:33</span></div>
    </div>
    <div class="custom-list-item lh-35">
        <div class="custom-list-col-20"><a [routerLink]="['./detail']" [queryParams]="{id:5}">美游泳奥运冠军因禁药无缘东京</a></div>
        <div class="custom-list-col-4"><span class="grayDark">2019年10月14日 11:33</span></div>
    </div>
    <div class="custom-list-item lh-35">
        <div class="custom-list-col-20"><a [routerLink]="['./detail']" [queryParams]="{id:6}">美游泳奥运冠军因禁药无缘东京</a></div>
        <div class="custom-list-col-4"><span class="grayDark">2019年10月14日 11:33</span></div>
    </div>
</div>

<router-outlet></router-outlet>
