<div class="message">
    <div *ngIf="loading">
        <div class="loading"></div>
    </div>
    <div *ngIf="!loading">
        <form action="" method="post" autocomplete="off" [formGroup]="myForm">
            <div class="form-group">
                <label>用户姓名后台验证</label>
                <input type="text" name="user" class="form-control" formControlName="user" placeholder="请输入用户姓名">
                <div *ngIf="user.pending" class="alert alert-info">数据验证中...</div>
                <div *ngIf="(user.dirty || user.touched) && user.invalid && user.errors" class="alert alert-danger">
                    <div *ngIf="user.errors.required">用户名不能为空</div>
                    <div *ngIf="user.errors.isCheck">{{user.errors.isCheck}}</div>
                </div>
            </div>
            <div class="form-group">
                <label>用户姓名</label>
                <input type="text" name="username" class="form-control" formControlName="username" placeholder="请输入用户姓名">
                <div *ngIf="(username.dirty || username.touched) && username.invalid" class="alert alert-danger">
                    <div *ngIf="username.errors.required">用户姓名不能为空!</div>
                    <div *ngIf="!username.errors.required && username.errors.regexp">{{username.errors.regexp.error}}</div>
                </div>
            </div>
            <div class="form-group">
                <label>登录密码</label>
                <input type="password" name="password" class="form-control" formControlName="password" placeholder="请输入登录密码"
                       required="required">
                <div *ngIf="(password.dirty || password.touched) && password.invalid" class="alert alert-danger">
                    <div *ngIf="password.errors.required">登录密码不能为空!</div>
                    <div *ngIf="!password.errors.required && password.errors.regexp">{{password.errors.regexp.error}}</div>
                </div>
            </div>
            <div class="form-group">
                <label>确认密码</label>
                <input type="password" name="passwordConfirm" formControlName="passwordConfirm" class="form-control"
                       placeholder="请输入确认密码" required="required">
                <div *ngIf="(passwordConfirm.dirty || passwordConfirm.touched) && myForm.errors && myForm.errors.passwordConfirm"
                     class="alert alert-danger">
                    确认密码与登录密码不一至,请重新输入!
                </div>
            </div>
            <div class="form-group">
                <label>性别</label>
                <div class="clearfix">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="sex" formControlName="sex" class="custom-control-input" id="sex1"
                               [value]="1" [checked]="sex.value===1">
                        <label class="custom-control-label" for="sex1">男</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="sex" formControlName="sex" class="custom-control-input" id="sex2"
                               [value]="0" [checked]="sex.value===0">
                        <label class="custom-control-label" for="sex2">女</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>您的头像</label>
                <div class="custom-file">
                    <input type="file" name="avatar" formControlName="avatar" id="upload" placeholder="请选择图片"
                           class="custom-file-input">
                    <label class="custom-file-label">请选择图片</label>
                    <div *ngIf="(avatar.touched || avatar.dirty) && avatar.errors" class="alert alert-danger">
                        <div *ngIf="avatar.errors.required">请选择您的头像</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>您的年龄</label>
                <input type="number" min="0" name="age" formControlName="age" class="form-control" placeholder="请输入您的年龄">
                <div *ngIf="(age.touched || age.dirty) && age.errors" class="alert alert-danger">
                    <div *ngIf="age.errors.required">您的年龄不能为空</div>
                    <div *ngIf="age.errors.min">最小年龄不得小于16岁</div>
                    <div *ngIf="age.errors.max">最大年龄不得大于200岁</div>
                </div>
            </div>
            <div class="form-group">
                <label>出生日期</label>
                <input type="text" name="bornDate" formControlName="bornDate" class="form-control bornDateTime"
                       placeholder="请选择出生日期">
                <div *ngIf="(bornDate.touched || bornDate.dirty) && bornDate.errors" class="alert alert-danger" role="alert">
                    请选择出生日期
                </div>
            </div>
            <div class="form-group">
                <label>身份证号</label>
                <input type="text" name="idCard" formControlName="idCard" class="form-control" placeholder="请输入您的身份证号">
                <div *ngIf="(idCard.touched || idCard.dirty) && idCard.errors" class="alert alert-danger" role="alert">
                    <div *ngIf="idCard.errors.required">请输入身份证号</div>
                    <div *ngIf="!idCard.errors.required && idCard.errors.idCard">{{idCard.errors.idCard.error}}</div>
                </div>
            </div>
            <div class="form-group">
                <label>邮箱</label>
                <input type="email" name="email" formControlName="email" class="form-control" placeholder="请输入电子邮箱">
                <div *ngIf="(email.touched || email.dirty) && email.errors" class="alert alert-danger" role="alert">
                    <div *ngIf="email.errors.required">请输入邮箱地址</div>
                    <div *ngIf="!email.errors.required && email.errors.regexp">{{email.errors.regexp.error}}</div>
                </div>
            </div>
            <div class="form-group">
                <label>您的学历</label>
                <select class="form-control" name="education" formControlName="education">
                    <option value="">请选择</option>
                    <option value="1">专科</option>
                    <option value="2">本科</option>
                    <option value="3">研究生</option>
                    <option value="4">硕士</option>
                    <option value="5">博士</option>
                </select>
                <div *ngIf="(education.touched || education.dirty) && education.errors" class="alert alert-danger" role="alert">
                    请选择您的学历
                </div>
            </div>
            <div class="form-group">
                <label>兴趣爱好</label>
                <div>
                    <div class="custom-control custom-checkbox custom-control-inline"
                         *ngFor="let item of hobbyOption;index as i">
                        <!--todo 初始分值选中-->
                        <input type="checkbox" name="hobby" id="hobby{{i}}" class="custom-control-input" [value]="item.value"
                               [checked]="hobby.value" (click)="addItem($event, item, 'hobby')">
                        <label class="custom-control-label" for="hobby{{i}}">{{item.name}}</label>
                    </div>
                </div>
                <div *ngIf="(hobby.touched || hobby.dirty) && hobby.errors" class="alert alert-danger">
                    {{hobby.errors.errors}}
                </div>
            </div>
            <div class="form-group">
                <label>手机号码</label>
                <input type="text" name="mobile" formControlName="phone" class="form-control" placeholder="请输入手机号码">
                <div *ngIf="(phone.touched || phone.dirty) && phone.errors" class="alert alert-danger" role="alert">
                    <div *ngIf="phone.errors.required">请输入手机号</div>
                    <div *ngIf="!phone.errors.required && phone.errors.regexp">{{phone.errors.regexp.error}}</div>
                </div>
            </div>
            <div class="form-group">
                <label>您的描述</label>
                <textarea class="form-control" name="desc" formControlName="desc"></textarea>
                <div *ngIf="(desc.touched || desc.dirty) && desc.errors" class="alert alert-danger" role="alert">
                    <div *ngIf="desc.errors.required">描述不能为空</div>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid" (click)="submitForm()">提交</button>
            </div>
        </form>
    </div>
</div>
